<div id="main-carousel" class="carousel slide">
	<div class="carousel-inner">
		<div class="item active">
			<img src="http://placehold.it/1200x480" alt="" />
			<div class="carousel-caption center-margin">
				<p>Just a sample caption 1!</p>
			</div>
		</div>
		<div class="item">
			<img src="http://placehold.it/1200x480" alt="" />
			<div class="carousel-caption center-margin">
				<p>Just a sample caption 2!</p>
			</div>
		</div>
		<div class="item">
			<img src="http://placehold.it/1200x480" alt="" />
			<div class="carousel-caption center-margin">
				<p>Just a sample caption 3!</p>
			</div>
		</div>
	</div>
	
	<a class="carousel-control left" href="#main-carousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#main-carousel" data-slide="next">&rsaquo;</a>
</div>